@charset "utf-8";
@font-face {
    font-family: clementN;
    src: url(data/clementnumbers-regular.ttf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.column{
    display: grid;
    grid-auto-rows: min-content;
    text-align: center;
    flex-grow: 0;
}

.inputBox{
    text-align: center;
    align-self: start;
}

.subSubjectHeader{
    
}

.subjectAverage{
    font-family: "clementN"
}

#tableDiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

#cleanButton{
    width: fit-content;
}

#average{
    font-family: clementN;
}

#outOf{
}

#dataOptions{
    position: fixed;
}