@charset "utf-8";
@font-face {
    font-family: clementN;
    src: url(data/clementnumbers-regular.ttf);
}

table{
    width: 100%;
}

input{
    text-align: center;
}

th{
    border: 1px solid black;
}

#tables{
    row-gap: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

#errorMessages{
    color:red;
    font-size: large;
    font-weight: bolder;
}

#average{
    font-size: 200px;
    font-family: "clementN";
}

#firstLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#outOf20{
    font-size: xx-large;
    visibility: collapse;
}

#dataOptions{
    position: fixed;
    bottom: 5px;
    left: 5px;
}

#dialogBox{
    background-color: #16161d;
    color: white;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#mainBody{
    z-index: 0;
    position: relative;
}

#parameterButton{
    z-index: 2;
    height: 40px;
    width: 40px;
    position: static;
    right: 5px;
}

#parametersBox{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #16161d;
    top: 0px;
    right: 0px;
    padding: 5px;
    color: white;
    display: none;
    flex-flow: column;
    gap: 5px;
}

#createNewSubjectBox{
    display: inline-flex;
    align-items: stretch;
    height: 20px;
}

#modifysubjectsBox{
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.column{
    border: 1px solid black;
    padding: 3px;
}

.subjectOutOf20{
    font-size: 20px;
    font-family: "clementN"
}

.subSubjectTableLine{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-flow: row;
}

.subjectModifyingBox{
    align-items: center;
    border: 1px solid white;
    padding: 3px;
}

.addSubSubjectBox{
    display: inline-flex;
    align-items: stretch;
    height: 20px;
}