@charset "utf-8";
@font-face {
    font-family: clementN;
    src: url(clementnumbers-regular.ttf);
}

table{
    width: 100%;
}

input{
    text-align: center;
}

th{
    border: 1px solid black;
}

#tables{
    row-gap: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

#errorMessages{
    color:red;
    font-size: large;
    font-weight: bolder;
}

#average{
    font-size: 200px;
    font-family: "clementN";
}

#firstLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#outOf20{
    font-size: xx-large;
    visibility: collapse;
}

#dataOptions{
    position: fixed;
    bottom: 5px;
    left: 5px;
    display: inline;
}

#dialogBox{
    background-color: #16161d;
    color: white;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.column{
    border: 1px solid black;
}

.subjectOutOf20{
    font-size: 20px;
    font-family: "clementN"
}

.subSubjectTableLine{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-flow: row;
}